<!DOCTYPE html>
<html>
<head>
    <title> Output Page </title>
</head>

<body>

<h1 style="text-align: center;"> Query: {{ lucene_output[0]['title']}}</h1>
<form action="/output" method="POST">
    <h3 style="text-align: center;"> <input type="text" name = "query"/></h3>
</form>

{% for item in lucene_output[1:] %}
<h2> Title: {{item['title']}}</h2>
<h2> Score: {{item['score']}}</h2>
<h3> Snippet:</h3>
<p>{{item['snippet']|safe}}</p>
<details>
    <summary><strong> Click to View Full Passage </strong></summary>
    <p>{{item['text']}}</p>
</details>
{% endfor %}

<form action="/" method = "POST">
    <h1 style="text-align: center;" ><input type = "submit" value = "Search Again" /></h1>
</form>

</body>
</html>
